<header class="header">
  <nav class="header__content">
      <div class="header__buttons">
          <a href="index.html" class="header__home">
              <img style="width: auto;height: 30px;" src="./assets/images/logo.png" alt="instapic logo">
          </a>
      </div>
  </nav>
</header>
<main class="main-container">
  <section class="content-container">
    <div class="content">
      <app-stories>
        <app-story ng></app-story>
      </app-stories>
      <app-posts>
        <app-post *ngFor="let x of items"></app-post>
      </app-posts>
      <button (click)="addFeed()">More</button>
    </div>
  </section>
</main>