<article #post class="post">
    <div class="post__header">
        <div class="post__profile">
            <a href="#" class="post__avatar">
                <img [src]="user.results[0].picture.thumbnail" alt="User Picture">
            </a>
            <a href="#" class="post__user">{{ user.results[0].name.first }}</a>
        </div>
    </div>

    <div class="post__content">
        <button class="post__left-button" [style]="medias.length>1 && activeMediaIndex>0?'display: unset;':'display : none'" (click)="scrollLeft()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="var(--primary)" d="M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zM142.1 273l135.5 135.5c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L226.9 256l101.6-101.6c9.4-9.4 9.4-24.6 0-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9 0L142.1 239c-9.4 9.4-9.4 24.6 0 34z"></path>
            </svg>
        </button>
        <div class="post__medias" #mediaContainer (dblclick)="toggleLike()">
            <img *ngFor="let media of medias" class="post__media" [src]="media.url" alt="Post Content">
        </div>
        <button class="post__right-button" [style]="medias.length>1 && activeMediaIndex<medias.length-1?'display: unset;':'display : none'" (click)="scrollRight()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="var(--primary)" d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm113.9 231L234.4 103.5c-9.4-9.4-24.6-9.4-33.9 0l-17 17c-9.4 9.4-9.4 24.6 0 33.9L285.1 256 183.5 357.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L369.9 273c9.4-9.4 9.4-24.6 0-34z"></path>
            </svg>
        </button>
    </div>

    <div class="post__footer">
        <div class="post__buttons">
            <button class="post__button" (click)="toggleLike()">
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" 
                [style.fill]="liked?'var(--like)':'transparent'" [style.stroke]= "liked?'var(--like)':'black'">
                    <path
                    d="M20.023,35.377C17.729,33.522,2.5,20.933,2.5,13.739C2.5,8.645,6.624,4.5,11.692,4.5 c3.251,0,6.197,1.682,7.878,4.498L20,9.717l0.429-0.719C22.111,6.182,25.056,4.5,28.308,4.5c5.069,0,9.192,4.145,9.192,9.239 C37.5,22.858,22.364,33.749,20.023,35.377z"/><path fill="#c74343" d="M28.308,5C33.101,5,37,8.92,37,13.739c0,8.548-13.881,18.839-16.958,21.015 C14.791,30.513,3,19.734,3,13.739C3,8.92,6.899,5,11.692,5c3.074,0,5.858,1.59,7.449,4.254L20,10.692l0.859-1.438 C22.449,6.59,25.234,5,28.308,5 M28.308,4C24.776,4,21.694,5.905,20,8.742C18.306,5.905,15.224,4,11.692,4C6.339,4,2,8.36,2,13.739 C2,21.814,20,36,20,36s18-12.043,18-22.261C38,8.36,33.661,4,28.308,4L28.308,4z"/>
                </svg>
            </button>

            <div *ngIf="medias.length > 1" class="post__indicators">
                <div *ngFor="let media of medias; index as i" [class]="i != activeMediaIndex?'post__indicator':'post__indicator post__indicator--active'"></div>
            </div>
        </div>

        <div class="post__infos">
            <div class="post__likes">
                <span>Liked by {{ likeNumber }} persons</span>
            </div>

            <div class="post__description">
                <span>
                    <a class="post__name--underline" href="#">{{ user.results[0].name.first }}</a>
                    {{ user.results[0].location.city }}, {{ user.results[0].location.state }}
                </span>
            </div>

            <span class="post__date-time">{{ uploadDaystamp }} day{{ uploadDaystamp>1?"s":"" }} ago</span>
        </div>
    </div>
</article>